.form_container {
    background-color: cadetblue;
    padding: 25px;
    display:flex;
    flex-flow:column;
    border-radius: 5px;
}
input, label{
    margin:10px
}
button{
font-size: 20px;
width: 60%;
border-radius: 5px;
padding: 15px;
margin: 25px;
}